*.aux
*.gz
*.log
*.fdb_latexmk
*.fls
*.bbl
*.blg
*DS_Store*
*.pkl
*.pickle
*.zip
*.json
*.jsonl
*Few_Shot_transformation_and_sampling*
*__pycache__*
*.out
unified_optimization_results/*
gradients_experiments/*
greater_experiments/*
arr_paper/*
codes/manual_prompt_test.ipynb
lpo_experiments/*

# exceptions
!data/fs_tacred_train_samples.pkl
!data/fs_tacred_test_episodes_1shots.pkl
!data/fs_tacred_test_episodes_shots_details.pkl
!data/fs_tacred_dev_episodes_shots_details.pkl
!data/fs_tacred_dev_episodes_1shots.pkl
!data/fs_tacred_final_step_dev_episodes_1shots.pkl
!data/fs_tacred_final_step_dev_episodes_shots_details.pkl
!data/fs_tacred_train_non_split_original_samples.pkl
!data/fs_tacred_final_step_dev_6000_episodes_1shots.pkl
!data/fs_tacred_final_step_dev_6000_episodes_shots_details.pkl
!data/fs_tacred_final_step_dev_6000_metadata.json
!codes/GreaTer/*
!data/fs_fewrel_train_non_split_original_samples.pkl
!data/fs_fewrel_test_episodes_1shots.pkl
!data/fs_fewrel_test_episodes_shots_details.pkl
!data/fs_fewrel_final_step_dev_episodes_1shots.pkl
!data/fs_fewrel_final_step_dev_episodes_shots_details.pkl
!data/fs_tacred_entity_resolution_Qwen-Qwen3-4B.pkl
!data/fs_tacred_entity_resolution_google-gemma-3-4b-it.pkl
!data/fs_fewrel_entity_resolution_Qwen-Qwen3-4B.pkl
!data/fs_fewrel_entity_resolution_google-gemma-3-4b-it.pkl
!trainings/20260508_122409_Qwen-Qwen3-4B/population.json
!trainings/20260508_120655_google-gemma-3-4b-it/population.json
!trainings/20260513_093517_Qwen-Qwen3-4B/population.json
!trainings/20260513_093554_google-gemma-3-4b-it/population.json
!unified_optimization_results/unified_opt_fs_tacred_20260513_230331/generated_prompt_candidates.json
!unified_optimization_results/unified_opt_fs_tacred_20260514_025450/generated_prompt_candidates.json
!trainings/20260517_021906_Qwen-Qwen3-4B/population.json
!trainings/20260517_022119_google-gemma-3-4b-it/population.json
!trainings/20260517_193615_Qwen-Qwen3-4B/population.json
!trainings/20260517_193624_google-gemma-3-4b-it/population.json
!unified_optimization_results/unified_opt_fs_fewrel_20260517_023848/generated_prompt_candidates.json
!unified_optimization_results/unified_opt_fs_fewrel_20260517_023518/generated_prompt_candidates.json
