*.aux
*.gz
*.log
*.fdb_latexmk
*.fls
*.bbl
*.blg
*DS_Store*
*.pkl
*.pickle
*.zip
*.json
*.jsonl
*Few_Shot_transformation_and_sampling*
*__pycache__*
*.out
*unified_optimization_results*
gradients_experiments/*
greater_experiments/*
arr_paper/*
codes/manual_prompt_test.ipynb

# exceptions
!data/fs_tacred_train_samples.pkl
!data/fs_tacred_test_episodes_1shots.pkl
!data/fs_tacred_test_episodes_shots_details.pkl
!data/fs_tacred_dev_episodes_shots_details.pkl
!data/fs_tacred_dev_episodes_1shots.pkl
!data/fs_tacred_final_step_dev_episodes_1shots.pkl
!data/fs_tacred_final_step_dev_episodes_shots_details.pkl
!data/fs_tacred_train_non_split_original_samples.pkl
!data/fs_tacred_final_step_dev_6000_episodes_1shots.pkl
!data/fs_tacred_final_step_dev_6000_episodes_shots_details.pkl
!data/fs_tacred_final_step_dev_6000_metadata.json
!codes/GreaTer/*
!data/fs_fewrel_train_non_split_original_samples.pkl
!data/fs_fewrel_test_episodes_1shots.pkl
!data/fs_fewrel_test_episodes_shots_details.pkl
!data/fs_fewrel_final_step_dev_episodes_1shots.pkl
!data/fs_fewrel_final_step_dev_episodes_shots_details.pkl
!trainings/20260508_122409_Qwen-Qwen3-4B/population.json
!trainings/20260508_120655_google-gemma-3-4b-it/population.json
!trainings/20260513_093517_Qwen-Qwen3-4B/population.json
!trainings/20260513_093554_google-gemma-3-4b-it/population.json