*.aux
*.gz
*.log
*.fdb_latexmk
*.fls
*.bbl
*.blg
*DS_Store*
*.pkl
*.pickle
*.zip
*.json
*.jsonl
*Few_Shot_transformation_and_sampling*
*__pycache__*
*.out
*unified_optimization_results*
gradients_experiments/*


# exceptions
!data/fs_tacred_train_samples.pkl
!data/fs_tacred_test_episodes_1shots.pkl
!data/fs_tacred_test_episodes_shots_details.pkl
!data/fs_tacred_dev_episodes_shots_details.pkl
!data/fs_tacred_dev_episodes_1shots.pkl
!data/fs_tacred_final_step_dev_episodes_1shots.pkl
!data/fs_tacred_final_step_dev_episodes_shots_details.pkl
!data/fs_tacred_train_non_split_original_samples.pkl